<ul class="nav nav-tabs">
  <li role="presentation" ><a href="https://hw11-ahmed007.c9users.io/people">people</a></li>
  <li role="presentation"><a href="https://hw11-ahmed007.c9users.io/vehicles">vehicles</a></li>
  
</ul>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
<h1>Editing Person</h1>

<%= render 'form'  %>

<%= link_to 'Show', @person , class:"btn btn-info" %> |
<%= link_to 'Back', people_path , class:"btn btn-info" %>
</div>
  <div class="col-md-4"></div>
</div>